@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
}

:root {
  --section-color: #2f303a;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid tomato;*/
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.link {
  text-decoration: none;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.logo--bleck {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: relative;
  background-color: #ffffff;
  --color-text-header: #212121;
  --color-text-contact: #757575;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header .container {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: none;
    color: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 93px;
  }
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list :hover, .nav-list :focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav__item {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.contaсt-first {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  margin-left: auto;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contaсt-first {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contaсt-first {
    flex-direction: column;
    margin-bottom: -10px;
  }
}
@media screen and (min-width: 1200px) {
  .contaсt-first {
    flex-direction: row;
    align-items: center;
    margin-right: -30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .contaсt-first__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contaсt-first__item {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contaсt-first__link {
  color: var(--color-text-contact);
  display: flex;
  align-items: center;
  fill: var(--color-text-contact);
}
.contaсt-first__link:hover, .contaсt-first__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contaсt-first__icon {
  margin-right: 10px;
}

.menu-open-btn {
  background: #ffffff;
  border: none;
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 48px 0px;
  margin: 0 auto;
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #ffffff;
  border: none;
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: #2196F3;
}

.menu-nav__item:not(last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-nav__link--color {
  color: #2196F3;
}

.menu-contaсt-list {
  margin-bottom: 64px;
}

.menu-contaсt__item {
  margin-bottom: 32px;
}

.menu-contaсt__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.menu-contaсt__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.165;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-soc-list {
  display: flex;
}

.menu-soc__item:not(last-child) {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-soc__item:nth-child(4) {
  border: none;
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.no-scroll {
  overflow: hidden;
}

.nav__item:nth-child(2):after {
  content: "";
  position: absolute;
  top: 99%;
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.menu-list {
  margin-left: -8px;
  margin-bottom: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.menu-list :hover, .menu-list :focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .menu-list {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.menu__item {
  margin-left: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .menu__item {
    margin-bottom: 0;
  }
}

.menu__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  cursor: pointer;
  padding: 6px 22px;
  background: #f5f4fa;
  border: 0px;
  border-radius: 4px;
  transition-property: box-shadow, border-radius, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-list {
  margin-bottom: -30px;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 480px) {
  .portfolio__item {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc(33.3333333333% - 30px);
  }
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  margin: 0 auto;
}

.portfolio-overlay__p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}
.portfolio__item:hover .portfolio-overlay__p {
  transform: translatey(0%);
}

.portfolio__description {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.portfolio__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 5px;
  display: block;
}

.portfolio__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #757575;
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer {
  background: var(--section-color);
  padding-top: 62px;
  padding-bottom: 62px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-contakts .logo {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-contakts .logo {
    display: block;
  }
}

.contakts-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts-list :hover,
.contakts-list :focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contakts-list {
    display: block;
  }
}

.contakts__item {
  transition-property: color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contakts__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.contakts__link--color {
  color: #ffffff;
}

.footer-soc {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    padding-top: 8px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    padding-top: 0px;
    margin-top: 2px;
    margin-left: 70px;
  }
}

.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc-text {
    display: block;
  }
}

.soc__link--fill {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer-mailing {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-mailing {
    padding-top: 60px;
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    display: block;
    padding-top: 0;
    margin-top: 2px;
    margin-left: 93px;
  }
}

.footer-mailing-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-mailing-label {
    justify-content: flex-start;
  }
}

.footer-mailing-input {
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--section-color);
}
@media screen and (min-width: 480px) {
  .footer-mailing-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing-input {
    width: 358px;
  }
}

.footer-mailing-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.02em;
  color: #ffffff;
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: #ffffff;
  text-align: left;
  padding-left: 29px;
  outline: none;
  border: none;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-mailing-btn {
    margin-left: 12px;
  }
}

.footer-mailing-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}/*# sourceMappingURL=port.css.map */