.footer {
  background: var(--section-color);
  padding-top: 62px;
  padding-bottom: 62px;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 768px) {
    & .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 76px;
      padding-right: 89px;
    }
  }
}
.footer-contakts { 
  .logo{
    display: flex;
    justify-content: center;
  }
}

.contakts-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  :hover,
  :focus {
  color: #2196f3;
}
}

.contakts__item {
  transition-property: color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
  margin-bottom: 10px;
}
}
.contakts__link {
  @include text-style($fw:400, $lh:1.71, $ls:0.03em, $col:#ffffff99);
  font-style: normal;
  &--color {
  color: #ffffff;
}
}
.footer-soc {
  margin-top: 60px;
  @media screen and (min-width: 768px){
    padding-top: 8px;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 0px;
    margin-top: 2px;
    margin-left: 70px;}
}
.footer-soc-text {
  @include text-style($fw:700, $ls:0.03em, $col:#ffffff);
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.soc__link--fill {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.footer-mailing {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 2px;
    margin-left: 93px;}
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-mailing-label {
  @include text-style($fw:700, $ls:0.03em, $col:#ffffff);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.footer-mailing-input {
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--section-color);
    @media screen and (min-width: 480px) {
    width: 450px;
  }
    @media screen and (min-width: 1200px) {
    width: 358px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.footer-mailing-btn {
  @include text-style(700, 16px, 1.875, 0.02em, #ffffff);
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: #ffffff;
  text-align: left;
  padding-left: 29px;
  outline: none;
  border: none;
  margin-top: 20px;
  @media screen and (min-width: 1200px){
    margin-left: 12px;}
}
.footer-mailing-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}