.header {
  position: relative;
  background-color: #ffffff;
  --color-text-header: #212121;
  --color-text-contact: #757575;
  border-bottom: 1px solid #ececec;
  & .container {
      display: flex;
      align-items: center;
    @media screen and (min-width: 768px){
      padding-top: 21px;
      padding-bottom: 21px;}
    @media screen and (min-width: 1200px){
      padding-top: 24px;
      padding-bottom: 25px;}
  }
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  @include text-style(700, 24px, 1.67, 0.03em, #2196f3);
  @media screen and (min-width: 1200px){
    @include text-style(none, 26px, 1.19, none, none);}
}
.header-nav {
  @media screen and (min-width: 768px){
    margin-left: 88px;}
  @media screen and (min-width: 1200px){
  margin-left: 93px;}
}
.nav-list {
  @include text-style();
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  & :hover,
  & :focus {
    color: #2196f3;
  }
  @media screen and (max-width: 767px) {
    display: none;       
  }
}

.nav__item {
  display: flex;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  @include text-style();
}
.contaсt-first {
  @include text-style($col: #757575);
  display: flex;
  margin-left: auto;
    transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
      display: none;      
  }
  @media screen and (min-width: 768px){
    flex-direction: column;
    margin-bottom: -10px;
    }
  @media screen and (min-width: 1200px){
    flex-direction: row;
    align-items: center;
    margin-right: -30px;
    margin-bottom: 0;}
}
.contaсt-first__item{
  @media screen and (min-width: 768px){
    margin-bottom: 10px;}
  @media screen and (min-width: 1200px){
    margin-right: 30px;
    margin-bottom: 0;}
}
.contaсt-first__link {
  color: var(--color-text-contact);
  display: flex;
  align-items: center;
  fill: var(--color-text-contact);
  &:hover,
  &:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

.contaсt-first__icon {
  margin-right: 10px;
}
